.product_list {
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
}
.product_div {
    width: 320px;
    height: 205.5px;
    background: rgb(144,171,163);
    color: #ddd;
    font-size: 13.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.product_div div {
    margin-top:12px;
}
.product_div svg {
    width:80px;
    height: 80px;
}
@media (max-width: 757px) {
.product_div {
    width: 225px;
    height: 150.5px;
    background: rgb(144,171,163);
    color: #ddd;
    font-size: 8.5px;
    text-align: center;
}
.product_div svg {
    width: 50px;
    height: 50px;
}
}
@media screen and (max-width: 596px) {
    .product_list {
        display: inline-block; 
        align-items: center;
margin-left:165px;
    }
    .product_div {
        width: 320px;
    }
    .product_div svg {
        margin-top: 20px;
    }
}