.single__route {
    width: 100%;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.single__route-img img {
    border-radius: 15px;
    width: 350px;
}

.single__route-info h2 {
    font-weight: 10;
}

.single__route-info span {
    color: rgb(130, 124, 124);
}

.single__route__boxes {
    gap: 10px;
    display: flex;
}


.single__route-monthly {
    height: 49px;
    border-radius: 10px;
    background: #ddd;
}

.single__route-monthly .single__route-amount {
    padding-top: 17px;
    padding-left: 15px;
}

.two__btn {
    display: flex;
    gap: 10px;
}

.single__route-box1 {
    width: 30px;
    height: 30px;
    background: pink;
    border-radius: 50%;
}

.single__route-box2 {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
}

.single__route-box3 {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
}

.single__route-box4 {
    width: 30px;
    height: 30px;
    background: lightblue;
    border-radius: 50%;
}

.single__route-box5 {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}

.single__route-box6 {
    width: 30px;
    height: 30px;
    background: purple;
    border-radius: 50%;
}

.single__route-box7 {
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 50%;
}

.single__rout-box1,
.single__rout-box2,
.single__rout-box3,
.single__rout-box4,
.single__rout-box5,
.single__rout-box6,
.single__rout-box7 {
    width: 40px;
    height: 47px;
    display: grid;
    place-items: center;
    border: 1px solid #8b8888;
    border-radius: 3px;
}

.single__route-btn1 {
    width: 150px;
    height: 55px;
    border-radius: 7px;
    background: var(--bg-py);
    color: white;
    border: none;
}

.single__route-btn2 {
    width: 200px;
    height: 55px;
    border-radius: 7px;
    background: white;
    color: var(--bg-py);
    border: 1.5px solid var(--bg-py);
    margin-left: 20px;
}



@media screen and (max-width:1000px) {
    .single__route {
        gap: 8px;
        grid-template-columns: 1fr;
    }

    .single__route-img img {
        max-width: 350px;
        width: auto;
        display: block;
        margin: 16px auto;
    }

    .single__route-type {
        text-align: center;
    }
.two__btn{
    justify-content: center;
}
    .single__route-btn1 {
        width: 80px;
        height: 55px;
        border-radius: 7px;
        background: var(--bg-py);
        color: white;
        border: none;
    }

    .single__route-btn2 {
        width: 135px;
        height: 55px;
        border-radius: 7px;
        background: white;
        color: var(--bg-py);
        border: 1.5px solid var(--bg-py);
        margin-left: 20px;
    }
    .single__route__boxes {
        gap: 10px;
        display: flex;
        justify-content: center;
    }
    /* width: 200px;
    height: 55px;
    border-radius: 7px;
    background: white;
    color: var(--bg-py);
    border: 1.5px solid var(--bg-py);
    margin-left: 20px; */

    /* width: 30px;
    height: 30px;
    background: rgb(0, 255, 251);
    border-radius: 50%; */
    /*
    width: 40px;
    height: 47px;
    display: grid;
    place-items: center;
    border: 1px solid #8b8888;
    border-radius: 3px;
    */

}