.login__box {
    width: 355px;
    height: 400px;
    background: rgb(255, 255, 255);
    justify-content: center;
    border: 1px solid black;
    border-radius: 33px;
    margin: auto;
}

.login {
    text-align: center;
}

.login__rec {
    padding-left: 20px;
    padding-top: 30px;

}

.login__inp {
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border: none;
    text-indent: 16px;
    background: rgb(237, 235, 235);
    margin-left: 10px;
    margin-top: 30px;
}

.login__button {
    width: 300px;
    height: 35px;
    background: var(--bg-py);
    border: none;
    border-radius: 30px;
    color: white;

}